@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    /* background-image: url("../../images/fanta_background.png");
    background-repeat: no-repeat;
    display: block; */
    background-color: orange;
}

.fantaimg{
    width: 150px;
    height: 75px;
    margin-left: 20px;
}
.icon{
    margin-left: 1000px;
    margin-right: 100px;
    width: 25px;
    height: 25px;
}
.product{
    margin-left: 200px;
    text-decoration: none;
    color: rgb(25,71,186);
    font-size: 20px;
    /* margin-bottom: 20px; */
}
.navbar{
    font-family: 'Anton', sans-serif;
    background-color: #FF9700;
}
a:hover{
    color: rgb(25,71,186);
    cursor: pointer;
    text-decoration: underline;
}