  @import url('https://fonts.googleapis.com/css2?family=Flow+Rounded&display=swap');
*{
    margin: 0px;
    font-family: 'Flow Rounded', cursive;
}
body{
    background-color: rgba(27, 27, 59, 0.596);
}
.text{
    width: 1000px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#button{
    width: 600px;
    height: 50px;
    margin-top: 40px;
    font-size: 25px;
    margin-bottom: 30px;
    color: crimson;
}
#contact{
    font-size: 100px;
    font: bold;
    margin-bottom: 75px;
    color: rgb(255, 224, 186);
}
.label{
    font-size: 30px;
    color: rgb(255, 156, 179);
}
.thing{
    display: block;
}
.all{
    text-align: center;
}
#link{
    
}
#eg{
    color: ;
}