*{
    margin: 0px;
}
#nav{ c
    text-align: center;
    font-size: 25px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}
body{
    background-color: rgb(128, 128, 128);
}
.anchor{
    text-decoration: none;
    color: rgb(220, 20, 60);
    padding: 15px;
}
#prod{
    font-size: 50px;
    text-align: center;
}
div{
    text-align: center;
}
#money{
    text-align: center;
    margin-bottom: 5px;
}
p{
    text-align: center;
    margin: 5px;
}
#mabye{
    font-size: 30px;
}
#jk{
    font-size: 20px;
}
#donos{
    text-align: center;
}
#egg{
    text-decoration: none;
    color: rgb(220, 20, 60);
    font-size: 20px;
}